.svg-test {
    margin: 25px;

    svg {
        border: 1px solid purple;
    }

    .foo {
        fill: green;
    }

    .bar {
        fill: rgb(40, 103, 147);
        font-size: 50px;
        font-family: var(--default-arabic-font-family);
        direction: rtl;
    }

    .a {
        fill: green;
        color: green;
    }

    .b {
        fill: orange;
        color: orange;
    }

    .c {
        fill: blue;
        color: blue;
    }
}