.chapter-header {
    padding: 25px;
    padding-top: 15px;
    font-size: 24px;

    .grid {
        display: grid;
        grid-template-columns: 1fr auto auto 1fr;
        align-items: center;

        .city {
            grid-column: 2 / 3;
            text-align: right;

            img {
                height: 35px;
                margin-right: 15px;
            }
        }

        .title {
            text-align: center;
            grid-column: 3 / 4;
        }

        @media only screen and (max-width: 599px) {
            grid-template-columns: 1fr auto minmax(0, 1fr);

            .city {
                grid-column: 1 / 2;
            }

            .title {
                grid-column: 2 / 3;

                .space {
                    display: none;
                }

                .translation {
                    display: block;
                }
            }
        }
    }

    .page-title {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
}