.verse-token {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    cursor: pointer;

    @media only screen and (min-width: 600px) {
        &:hover {
            background: #edf3fc;
        }
    }
}

a.verse-token,
a.verse-token:visited {
    color: black;
}