.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: auto;
    text-align: center;
    padding: 25px;

    .description {
        margin-top: 0;
    }

    .footer {
        margin-top: 20px;
        margin-bottom: 50px;
    }
}