.word-morphology-view {

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        margin-bottom: 5px;

        h1 {
            margin: 0 0 0 15;
            font-size: 1em;
        }
    }

    section {
        margin: 0 20 20 20;
        line-height: 1.6em;

        .summary {
            margin-top: 20px;
        }

        .descriptions {
            margin-top: 12px;

            .segment {
                display: flex;

                .node-circle {
                    margin-left: 10px;
                    margin-top: 10px;
                    margin-right: 10px;
                }
            }
        }

        .grammar {
            margin-top: 12px;
            direction: rtl;
        }
    }

    @media only screen and (max-width: 599px) {

        header,
        section {
            font-size: 90%;
        }

        section {
            .descriptions {
                .segment {
                    .node-circle {
                        margin-top: 8px;
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 600px) {
        header {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}