.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: auto;
    text-align: center;
    padding: 25px;

    .intro {
        margin-top: 0;
    }

    .wbw {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 0;
    }

    hr {
        margin-top: 40px;
    }

    .slack {
        margin-top: 30px;

        img {
            height: 35px;
        }
    }

    .footer {
        margin-top: 20px;
        margin-bottom: 50px;
    }
}