.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: auto;
    text-align: center;

    .logo {
        width: 200px;
        height: auto;
        margin-top: 10px;

        path {
            fill: rgb(63, 132, 161);
        }
    }

    .intro {
        margin-top: 30px;
    }

    .wbw {
        font-size: 22px;
        font-weight: bold;
    }

    hr {
        margin-top: 40px;
    }

    .slack {
        margin-top: 30px;

        img {
            height: 35px;
        }
    }

    .footer {
        margin-top: 20px;
        margin-bottom: 50px;
    }
}