.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: auto;
    text-align: center;
    padding: 25px;

    .intro {
        margin-top: 0;
    }

    .links {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 20px;
        margin-bottom: 20px;

        >a {
            font-size: 22px;
            font-weight: bold;
        }
    }

    .projects {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        gap: 5px;

        img {
            height: 35px;
        }
    }

    .footer {
        margin-top: 20px;
        margin-bottom: 50px;
    }
}