@font-face {
    font-family: 'Hafs';
    src: url('../fonts/hafs.woff2');
}

@font-face {
    font-family: 'Uthmani Hafs';
    src: url('../fonts/uthmani-hafs.woff2');
}

.navy {
    color: #1301b8;
}

.seagreen {
    color: #32bd2f
}

.seagreen-light {
    color: #3ece39;
}

.sky {
    color: #548dd4;
}

.sky-light {
    color: #6f9fdb;
}

.metal {
    color: #5c7085;
}

.metal-light {
    color: #70869c;
}

.rust {
    color: #ad2323;
}

.rust-light {
    color: #d73535;
}

.gray {
    color: #575757;
}

.orange {
    color: #e37010;
}

.orange-light {
    color: #ef7d21;
}

.purple {
    color: #8126c0;
}

.purple-light {
    color: #9a3cd9;
}

.blue {
    color: #257e9c;
}

.blue-light {
    color: #2e9abe;
}

.brown {
    color: #bf9f3e;
}

.brown-light {
    color: #c9ad58;
}

.rose {
    color: #fd5162;
}

.rose-light {
    color: #fd6675
}

.gold {
    color: #817418;
}

.gold-light {
    color: #97881c
}

.red {
    color: #f4400b;
}

.red-light {
    color: #f76c44;
}

.green {
    color: #1d6914
}

.green-light {
    color: #278e1c;
}

.pink {
    color: #a8017b;
}

.pink-light {
    color: #d8019c;
}

.silver {
    color: #b4b4b4;
}

.silver-light {
    color: #bebebe;
}

body {
    margin: 0;
    font-family: var(--default-font-family);
}

a,
a:visited {
    color: #4886d0;
    text-decoration: none;
}