.app-header {
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    box-shadow: 0 5px 20px -10px #000;
    height: var(--app-header-height);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #343540;
}