.workspace {
    display: flex;
    flex-direction: column;
    margin-top: var(--app-header-height);

    .footer {
        &.desktop {
            display: none;
        }
    }

    @media only screen and (max-width: 559px) {
        .info-pane {
            &.popup {
                position: fixed;
                bottom: 0;
                height: 66.67%;
                width: 100%;
                z-index: 1;
                background: beige;
                overflow-y: scroll;
            }
        }
    }

    @media only screen and (min-width: 600px) {
        display: grid;
        grid-template-areas: "main splitter info";
        height: calc(100vh - var(--app-header-height));

        .main-pane {
            grid-area: main;
            overflow-y: scroll;
        }

        .splitter {
            grid-area: splitter;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: col-resize;
            user-select: none;

            .line {
                width: 2px;
                height: 100%;
                background: #e0e0e0;
            }

            &.hide {
                display: none;
            }
        }

        .info-pane {
            grid-area: info;
            overflow-y: scroll;
        }

        .footer {
            &.desktop {
                display: block;
            }

            &.mobile {
                display: none;
            }
        }
    }
}