.arrow-button {
    border-radius: 25px;
    transition: border-color 300ms;

    svg {
        width: 50px;
        height: 50px;
    }

    &.enabled {
        border: 1px solid #e5e5e5;

        path {
            color: black;
        }

        &:hover {
            border: 1px solid #a9a9a9;
        }
    }

    &.disabled {
        border: 1px solid #f0eeee;

        path {
            color: #7d7d7d;
        }
    }
}