.close-button {
    border-radius: 20px;
    transition: border-color 300ms;
    cursor: pointer;

    &:hover {
        background: #e5e5e5;
    }

    svg {
        width: 40px;
        height: 40px;
        color: black;
    }
}