.section-mark {
    font-family: var(--default-arabic-font-family);
    font-size: var(--arabic-font-size-large);

    @media only screen and (max-width: 599px) {
        font-size: var(--arabic-font-size-small);
    }
}