.side-panel {
    display: flex;
    flex-direction: row;

    .content {
        flex: 1;
        overflow-y: auto;
    }

    .splitter {
        flex: 0 0 auto;
        width: 10px;
        cursor: col-resize;
        user-select: none;
        position: relative;

        .line {
            position: absolute;
            width: 2px;
            background: #e0e0e0;
            top: 0;
            bottom: 0;
            left: 50%;
        }
    }

    &.right {
        flex-direction: row-reverse;
    }

    @media (max-width: 600px) {

        .content {
            overflow-y: visible;
            margin-right: 10px;
        }

        .splitter {
            display: none;
        }
    }
}