.chapter-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 25px;
    font-size: 24px;

    img {
        height: 35px;
        margin-right: 15px;
    }

    @media only screen and (max-width: 600px) {
        .space {
            display: none;
        }

        .phonetic {
            text-align: center;
        }

        .translation {
            text-align: center;
            display: block;
        }
    }
}