.reader-view {
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;

    // Prevent elements on the last line from stretching.
    &:after {
        content: '';
        flex-grow: 999999;
    }

    @media only screen and (max-width: 599px) {
        gap: 6px;
    }
}