.verse-element {
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 15px;

    .verse-header {
        display: flex;

        .verse-number {
            color: gray;
        }

        .copy-button {
            width: 15px;
            margin-left: 10px;
        }
    }

    .verse-tokens {
        direction: rtl;
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        flex: 1;
        margin-top: 5px;

        .section-mark,
        .sajdah-mark {
            padding: 7px 0px;
        }

        .end-of-verse {
            padding: 7px;
        }
    }

    .verse-translation {
        margin-top: 30px;
        font-style: italic;
        font-size: 90%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}