.word-by-word-view {
    display: flex;
    flex-direction: column;

    hr {
        border: none;
        border-top: 1px solid #e5e5e5;
        width: 100%;
        height: 0;
        padding: 0;
        margin: 20 0;
    }
}