.word-by-word {


&.panel {
        display: flex;
        flex-direction: column;
        //border: 2px solid red;
        width: 80%;
        //background-color: blanchedalmond;
        box-sizing: border-box;
        @media only screen and (max-width: 600px) {
            width: 100%;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        //border: 2px solid blue;
        width: 100%;

        @media only screen and (min-width: 1100px) {
            margin: auto;
            max-width: 1100px;
            //margin: 0;
        }
    }




    .bismillah {
        margin-top: 10px;
        height: 100px;
        width: auto;

        path {
            fill: rgb(63, 132, 161);
        }
    }

    .verse-element {
        margin-top: 30px;

        &:nth-child(even) {
            background: #f6f6f6;

            .verse-token {
                @media only screen and (min-width: 600px) {
                    &:hover {
                        background: #e8e4e1;
                    }
                }
            }
        }
    }

    .reader-view {
        margin-top: 40px;
        margin-left: 25px;
        margin-right: 25px;
    }

    @media only screen and (max-width: 600px) {
        .bismillah {
            height: 60px;
        }
        width: 100%;
    }

    @media only screen and (min-width: 1100px) {
        //margin: auto;
        //max-width: 1100px;
        //margin: 0;
    }
}