.word-by-word {

    .word-by-word-view {
        display: flex;
        flex-direction: column;

        .chapter-header {
            display: flex;
            align-items: flex-start;
            padding: 0 15px;

            img {
                height: 35px;
                margin-right: 15px;
                margin-top: 25px;
            }
        }

        .verse-element {
            &:not(:nth-child(2)) {
                margin-top: 30px;
            }

            &:nth-child(odd) {
                background: #f6f6f6;
            }
        }

        @media (min-width: 1000px) {
            margin: auto;
            max-width: 1000px;
        }
    }

    .footer {
        margin-top: 30px;
        margin-bottom: 50px;
    }
}