.syntax-graph-view2 {

    text,
    tspan {
        fill: currentColor;

        &.location {
            color: #787878;
        }

        &.phonetic {
            color: #4886d0;
        }
    }

    circle {
        fill: currentColor;
    }

    path {
        stroke: currentColor;
        stroke-width: 2px;
    }
}