.syntax-graph-view {

    text,
    tspan {
        fill: currentColor;

        &.location {
            color: #787878;
        }

        &.phonetic {
            color: #4886d0;
        }
    }

    line,
    path {
        stroke: currentColor;
        stroke-width: 2px;
    }

    circle,
    polygon {
        fill: currentColor;
    }

    .edge-label {
        fill: rgba(255, 255, 255, 0.6);
    }
}