.hamburger-menu {
    position: absolute;
    height: var(--popup-menu-height);
    color: white;
    background: black;
    right: 5px;
    overflow-y: auto;
    padding: 5px;

    a,
    a:visited {
        color: white;
    }

    >a {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 25px;
        display: flex;

        .icon-container {
            width: 35px;
            display: flex;
            justify-content: center;

            img {
                height: 20px;
                width: auto;
            }
        }
    }

    .translations {
        padding-top: 15px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 25px;
    }
}