.hamburger-menu {
    position: absolute;
    height: var(--popup-menu-height);
    color: white;
    background: black;
    right: 5px;
    overflow-y: auto;

    a,
    a:visited {
        color: white;
    }

    >a {
        padding: 10px;
        padding-right: 25px;
        display: flex;

        img {
            height: 20px;
            width: auto;
            margin-right: 8px;
        }
    }

    .translations {
        padding: 10px;
        padding-bottom: 5px;
        padding-right: 25px;
    }
}