.navigation-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #343540;
    box-shadow: 0 5px 20px -10px #000;

    header {
        display: flex;
        justify-content: center;
        position: relative;
        height: var(--app-header-height);

        .qaf {
            position: absolute;
            left: 0;
            height: 100%;
        }

        .chapter-name,
        .chapter-name:visited {
            display: inline-flex;
            color: white;
            padding: 12px;
            align-items: center;
            justify-content: center;

            .down {
                color: white;
                width: 15px;
                margin-left: 5px;
            }
        }

        .hamburger {
            position: absolute;
            right: 0;
            display: flex;
            align-items: center;
            padding: 0px 15px;
            height: 100%;
            cursor: pointer;

            img {
                height: 20px;
                width: auto;
            }
        }
    }
}