.navigation-header {
    position: relative;
    background: #343540;

    .navigation-bar {
        display: flex;
        justify-content: center;
        position: relative;

        .qaf {
            position: absolute;
            left: 0;
            height: 100%;
        }

        .chapter-name,
        .chapter-name:visited {
            display: inline-flex;
            color: white;
            padding: 12px;
            align-items: center;
            justify-content: center;

            .down {
                color: white;
                width: 15px;
                margin-left: 5px;
            }
        }

        .toolbar {
            position: absolute;
            right: 15;
            height: 100%;
        }
    }
}