.verse-selector {
    position: absolute;
    height: var(--popup-menu-height);
    color: white;
    background: black;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    padding: 5px;

    .selector-list {

        .header {
            padding: 10px;
        }

        .link {
            display: block;
            padding: 10px;
            padding-right: 25px;
            white-space: nowrap;
            color: white;
        }
    }
}