.dependency-graph-view {
    border: 1px solid #e5d2ea;
    position: relative;

    svg {
        width: 100%;
        height: 100%;

        circle {
            fill: currentColor;
        }

        path {
            stroke: currentColor;
            stroke-width: 2px;
        }
    }
}