.edge-label {
    display: inline-block;
    font-family: var(--edge-label-font-family);
    font-size: 24px;
    line-height: 24px;
    background-color: rgba(255, 255, 255, 0.6);
    direction: rtl;
}