.graph-token {
    display: inline-block;

    .token-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .arabic-token {
            margin-top: 15px;
            font-size: 34px;
        }

        .pos-tag-container {
            display: flex;
            font-family: var(--default-pos-tag-font-family);
            font-size: 18px;
            gap: 25px;
            margin-top: 4px;

            .pos-tag {
                display: flex;
                flex-direction: column;
                align-items: center;

                .node-circle {
                    margin-bottom: 8px;
                }
            }
        }
    }
}