.graph-word {
    display: inline-block;

    .word-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .arabic-token {
            margin-top: 12px;
            font-size: 34px;
        }

        .pos-tag-container {
            display: flex;
            gap: 25px;
            margin-top: 4px;
        }
    }
}