.irab-view {

    h1 {
        font-size: 1em;
        text-align: right;
        padding-right: 25px;
        margin-top: 25px;
    }

    ul {
        direction: rtl;
        list-style: none;
        padding-right: 25px;
        padding-left: 20px;

        li {
            margin-top: 20px;

            &::before {
                content: "\2022";
                color: red;
                font-weight: bold;
                display: inline-block;
                width: 12px;
                margin-right: -12px;
            }
        }
    }
}