.node-tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;

    .node-circle {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        margin-bottom: 8px;
        background: currentColor;
    }
}