.token-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: var(--token-header-height);

    div {
        font: 0.833em Arial;
        line-height: 1.6em;

        &.location {
            color: #787878;
        }
    }
}