.token-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: var(--token-header-height);
    white-space: nowrap;

    div {
        font-size: 90%;
        line-height: 1.6em;

        &.location {
            color: #787878;
        }
    }
}