.treebank {
    display: flex;
    height: 100vh;

    >.dependency-graph {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;
        padding: 25px;

        h1 {
            margin: 0;
        }

        .navigation {
            display: inline-flex;
            align-items: center;
            gap: 20px;

            .location {
                display: flex;
                flex-direction: column;
                gap: 4px;
            }
        }

        .syntax-graph-view {
            flex-shrink: 0;
        }

        .syntax-graph-view,
        .legacy-graph {
            align-self: center;
            margin-top: 25px;
            max-width: 100%;
            height: auto;
        }
    }

    @media (max-width: 600px) {
        flex-direction: column;
        height: auto;

        >.dependency-graph {
            overflow-y: visible;
        }
    }
}