.verse-element {
    padding: 20px;
    padding-top: 15px;

    .verse-header {
        display: flex;

        .verse-number {
            color: gray;
        }

        .copy {
            width: 15px;
            margin-left: 10px;
        }
    }

    .verse-tokens {
        direction: rtl;
        display: flex;
        flex-wrap: wrap;
        column-gap: 15px;
        row-gap: 35px;
        flex: 1;
        margin-top: 10px;

        .token-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .end-of-verse {
            font-family: var(--verse-end-font-family);
            font-size: var(--arabic-font-size-large);

            @media only screen and (max-width: 600px) {
                font-size: var(--arabic-font-size-medium);
            }
        }
    }

    .verse-translation {
        margin-top: 35px;
        font-style: italic;
        font-size: 90%;
    }
}