.verse-element {
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 15px;

    .verse-header {
        display: flex;

        .verse-number {
            color: gray;
        }

        .copy {
            width: 15px;
            margin-left: 10px;
        }
    }

    .verse-tokens {
        direction: rtl;
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        flex: 1;
        margin-top: 5px;

        .token-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 8px;

            &:hover {
                background: rgb(240, 236, 233);
            }
        }

        .end-of-verse {
            font-family: var(--verse-end-font-family);
            font-size: var(--arabic-font-size-large);
            padding: 7px;

            @media only screen and (max-width: 600px) {
                font-size: var(--arabic-font-size-medium);
            }
        }
    }

    .verse-translation {
        margin-top: 30px;
        font-style: italic;
        font-size: 90%;
    }
}